<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<f:render partial="FormErrors"/>
	<f:render partial="SearchMenu" arguments="{_all}"/>

	<f:if condition="{translationFiles}">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
				<tr>
				<th><f:translate key="tx_l10ntranslator_domain_model_translation.translation_key" /> &amp; <f:translate key="tx_l10ntranslator_domain_model_translation.translation_source" /></th>
				<th><f:translate key="tx_l10ntranslator_domain_model_translation.language" /></th>
				<th width="50%"><f:translate key="tx_l10ntranslator_domain_model_translation.translation_target" /></th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{translationFiles}" as="translationFile">
					<f:for each="{translationFile.l10nTranslationFiles}" as="l10nTranslationFile">
						<f:for each="{l10nTranslationFile.matchedTranslations}" as="translation">
							<f:render partial="TranslationFile/TableRow"
									  arguments="{translation: translation, l10nTranslationFile: l10nTranslationFile, translationFile: translationFile}"/>
						</f:for>
						<f:for each="{l10nTranslationFile.matchedMissingTranslations}" as="translation">
							<f:render partial="TranslationFile/TableRow"
									  arguments="{translation: translation, l10nTranslationFile: l10nTranslationFile, translationFile: translationFile, missing: 1}"/>
						</f:for>
					</f:for>
				</f:for>
				</tbody>
			</table>
		</div>
	</f:if>


</f:section>
</html>
