<f:layout name="Default" />

<f:section name="content">

<f:flashMessages />

<f:render partial="FormErrors" />
	<f:form class="form-horizontal" action="list"  controller="TranslationFile" method="POST" name="search" object="{search}">

			<div class="form-group row">
				<label for="searchString" class="col-sm-2 control-label">
					<f:translate key="tx_l10ntranslator_domain_model_search.search_string" />
				</label>
				<div class="col-sm-3">
					<f:form.textfield class="form-control" id="searchString" property="searchString" />
				</div>
			</div>
			<div class="form-group row">
				<label for="language" class="col-sm-2 control-label">
					<f:translate key="tx_l10ntranslator_domain_model_search.language" />
				</label>
				<div class="col-sm-3">
					<f:form.select class="form-control" id="language" options="{languages}" property="language" prependOptionLabel="--" prependOptionValue="" />
				</div>
			</div>
			<div class="form-group row">
				<label for="l10nFile" class="col-sm-2 control-label">
					<f:translate key="tx_l10ntranslator_domain_model_search.l10nFile" />
				</label>
				<div class="col-sm-3">
					<f:form.select id="l10nFile" class="form-control" property="l10nFile" options="{l10nFiles}" prependOptionLabel="--" prependOptionValue=""/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<f:form.submit value="{f:translate(key: 'tx_l10ntranslator_domain_model_search')}" class="btn btn-default"/>
				</div>
			</div>

	</f:form>

</f:section>